<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu Projeto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<form (ngSubmit)="vaiFormulario">

  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input [(ngModel)]="nome" type="text" name="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail:</ion-label>
    <ion-input [(ngModel)]="email" type="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input [(ngModel)]="telefone" type="tel" name="telefone"></ion-input>
  </ion-item>

  <ion-button expand="block"
  fill="solid"
  size="large"
  color="danger"
  type="submit"
  >Vai Formulário</ion-button>

</form>
 
</ion-content>
